#端口配置
server:
  port: 8888
spring:
  thymeleaf:
    prefix: classpath:/templates
    suffix: .html
    encoding: utf-8
    cache: false
  resources:
    static-locations: classpath:/static,classpath:/META-INF/resources,classpath:/templates/
  datasource:
    name: test
    url: jdbc:mysql://127.0.0.1:3306/web?serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
mybatis:
  mapper-locations: classpath:mapping/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
  type-aliases-package: